.container {
    margin: auto;
    width: 70%;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 2px;
	background-color: lightblue;
}

.header a, .block-info a {
	color: inherit;
    text-decoration: inherit;
}

.header-first-letter {
	display: inline-block;
	border: 2px solid yellow;
}

.content {
	padding: 10px;
	background-color: lightyellow;
}

.news-block {
	padding-bottom: 7px;
}

.block-number, .block-pointer, .block-title, .upvotes, .main-menu form {
	display: inline-block;
}

.block-number, .block-pointer {
	color: lightblue;
}

.block-title {
	max-width: 90%;
}

.block-title a {
	color: royalblue;
    text-decoration: inherit;
}

.block-info, .block-info button{
	font: italic small-caps bold 14px/2 cursive;
}

.block-info form, .auth-box form {
	display: inline-block;
}

.link-button {
	background: none!important;
	border: none;
	padding: 0!important;
	font: bold;
	cursor: pointer;
}

.comment-textarea {
	width: 30%;
	height: 100px;
}

.comment-form {
	margin-bottom: 50px;
}

.comment-button {
	display: block;
}

.pagination td {
	padding: 5px;
	border: 2px solid lightblue;
}

.error {
	color: red;
	position: fixed;
}

.auth-box, .main-menu {
	display: inline-block;
	padding: 2px;
}

.auth-form {
	margin-bottom: 30px;
}

.auth-form *, .post-form * {
	display: block;
}